<h3>Congratulations!</h3>
<p>You have a simple Angular App running, using RequireJS and a
    convention-over-configuration strategy.</p>
<p>What can you do from here? You can add functionality via this set of steps
    per route:</p>
<ul>
    <li>Edit config.js and add the route you're interested in (eg 'foo')</li>
    <li>Create a controller javascript file under js/controllers with the same
            name as your route (ie, in the example above, js/controllers/foo.js).
            You can use __shell.js as a starting point.</li>
    <li>Don't forget to add your view under views, with the same name (again,
            views/foo.html)</li>
    <li>Now you can flesh out your functionality and bound fields in your controller
        and set up your view to use it</li>
</ul>
<a href="index.html#/edit/1">Here is an example routed link with a parameter</a>
